anyio==3.7.1
bard==0.1
bardapi==0.1.23a0
beautifulsoup4==4.12.2
cachetools==4.2.4
certifi==2023.5.7
charset-normalizer==3.2.0
colorama==0.4.6
coverage==7.2.7
deep-translator==1.11.4
google==3.0.0
google-api-core==1.34.0
google-api-python-client==2.92.0
google-auth==2.21.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-cloud-core==1.7.3
google-cloud-translate==2.0.1
google-pasta==0.2.0
googleAPI==0.1.0
googleapis-common-protos==1.59.1
GoogleBard==1.4.0
grpcio==1.56.0
grpcio-status==1.48.2
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.17.3
httplib2==0.22.0
httpx==0.24.1
hyperframe==6.0.1
idna==3.4
iniconfig==2.0.0
lxml==4.9.3
markdown-it-py==3.0.0
mdurl==0.1.2
oauth2client==4.1.3
oauthlib==3.2.2
packaging==23.1
pdfminer==20191125
pluggy==1.2.0
prompt-toolkit==3.0.39
protobuf==3.20.3
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycryptodome==3.18.0
Pygments==2.15.1
PyMuPDF==1.22.5
pyparsing==3.1.0
PyPDF2==3.0.1
PyPDF4==1.27.0
pytest==7.4.0
pytest-cov==4.1.0
python-dotenv==1.0.0
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.4.2
rsa==4.9
six==1.16.0
sniffio==1.3.0
socksio==1.0.0
soupsieve==2.4.1
uritemplate==4.1.1
urllib3==1.26.16
wcwidth==0.2.6
